#文件夹
.idea/
logs/
.mixin.out/
.probe/
.venv/
.vscode/
backups/
coremods/
crash-reports/
data/
debug/
hotai-disabled/
lightspeed-cache/
local/
modernfix/
mods/
mods-backup/
nomods/
patchouli_books/
saves/
screenshots/
xaero/
plan/
XaeroWaypoints_BACKUP240807/
icon-exports-x32/
config/jei/world/
#文件
options.txt
hotai.zip
caxton_impl.dll
新建 文本文档.txt
fabricloader.log
usernamecache.json
usercache.json
rhino.local.properties
patchouli_data.json
observable_announce
#纹理包和光影包
shaderpacks/ComplementaryUnbound_r5.3 + EuphoriaPatches_1.4.3.zip
resourcepacks/Fusion Connected Blocks v1.0.2 for Minecraft 1.20-1.21.8.zip
resourcepacks/Goety Old Textures.zip
resourcepacks/GoetyRevelation art style.zip
resourcepacks/GR Old Textures.zip
resourcepacks/Minecraft-Mod-Language-Modpack-Converted-1.20.1.zip
resourcepacks/tconjeidark.zip
